@tailwind base;
@tailwind components;
@tailwind utilities;
*::-webkit-scrollbar {
	width: 10px;
	/* background-color: ; */
}

/* *::-webkit-scrollbar-track {
	background-color: #1976D3;
} */
*::-webkit-scrollbar-thumb {
	background-color: #1976D3;
	border-radius: 10px;
	border: 3px solid #1976D3;
}
h1{
	@apply text-3xl font-bold
}
h2{
	@apply text-2xl font-bold
}
h3{
	@apply text-xl font-bold
}
li{
	@apply list-disc list-inside
}

/* //**----------------------------MUI Overwrite----------------------------------------------------- */
/* //**----------------------------Autocomplete----------------------------------------------------- */
.muiautocomplete-compact>div>div{
	padding: 5px !important;
}
